#as02 .el-pager .active {
  margin-top: 2px;
}
#as02 .el-pager li {
  margin: 0 8px;
}
#as02 {
  .komi-button:hover {
    background-color: #e5eef7;
  }
  .text-div {
    display: inline;
  }
  .el-table thead {
    color: #4a4a4a;
  }
  .table-spe {
    width: 100%;
  }
  .spe-span {
    text-align: center;
  }
  .over-max-warn {
    font-size: 14px;
    color: #fe6f80;
  }
  .span-line:hover {
    text-decoration: underline;
  }
  .link-style {
    color: #00438b;
    cursor: pointer;
  }
  .detail-search-result {
    border-top: 1px dashed #c9ced7;
    padding: 18px 42px 20px 42px;
    .result-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .kennsuSpace {
        margin-left: 0;
      }
      .width-show {
        margin-left: 85px;
      }
      .head-select {
        font-family: 'Meiryo UI';
        font-size: 14px;
        color: #4a4a4a;
        letter-spacing: 0.27px;
        width: 231px;
      }
      .button {
        border: 1px solid #00438b;
        border-radius: 3px;
        border-radius: 3px;
        width: 80px;
        height: 28px;
        line-height: 28px;
        padding: 0px;
        font-family: 'Meiryo UI';
        font-size: 14px;
        color: #00438b;
        letter-spacing: 0;
      }
      .button-disable {
        background-color: #d8d8d8;
        color: #ffffff;
        cursor: not-allowed;
        border: none;
      }
    }
  }
  .no-data-space {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .no-data-space-two {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .warn-txt {
    border-top: 1px dashed #c9ced7;
    display: flex;
    width: 100%;
    height: 268px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .warn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .warni-conm {
    width: 36px !important;
    height: 32px !important;
    margin-bottom: 18px;
  }
  .warn-word {
    width: 100%;
    text-align: center;
    color: #fd596d;
    font-family: Meiryo;
    font-size: 16px;
    line-height: 22px;
  }
}
