.item-box {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}
.margin-bottom-high {
  margin-bottom: 10px;
}
.margin-bottom-low {
  margin-bottom: 2px;
}
.item-width {
  width: 210px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.item-title {
  font-family: 'Meiryo UI';
  font-size: 12px;
  color: #797979;
  letter-spacing: 0.19px;
  display: flex;
  margin-bottom: 4px;
  height: 16px;
}
.item-contents {
  font-family: 'Meiryo UI';
  font-size: 16px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.item-contents-width {
  width: 210px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.class-title {
  font-family: 'Meiryo UI';
  font-size: 12px;
  color: #4a4a4a;
  letter-spacing: 0.23px;
  font-weight: bold;
  margin-bottom: 10px;
}
.full-style {
  width: 100%;
  background: #eee;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.all-width {
  width: 100%;
}
