.mcl04 .no-choice {
  width: 128px;
}
.mcl04 .siborikomi-Btn:hover {
  background-color: #e5eef7;
}
.mcl04 .up-page {
  margin-bottom: 20px;
  margin-top: 10px;
}
.mcl04 .warn-data {
  display: flex;
  width: 100%;
  height: 268px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mcl04 .warn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mcl04 .warn-iconm {
  width: 36px !important;
  height: 32px !important;
  margin-bottom: 18px;
}
.mcl04 .warn-word {
  width: 100%;
  text-align: center;
  color: #fd596d;
  font-family: Meiryo;
  font-size: 16px;
  line-height: 22px;
}
.mcl04 .box-card {
  width: 935px;
  shadow: never;
  border: 1px solid black;
  border-radius: 10px;
}
.mcl04 .spanLine:hover {
  text-decoration: underline;
}
.mcl04 .siborikomi-Btn {
  border: 1px solid #00438b;
  border-radius: 3px;
  border-radius: 3px;
  width: 80px;
  height: 27px;
  /* line-height: 28px; */
  padding: 0px;
  font-family: 'Meiryo UI';
  font-size: 14px;
  color: #00438b;
  letter-spacing: 0;
}
.mcl04 .header {
  width: 100%;
  height: 32px;
  background: #00438b;
  border-radius: 0px 4px 0px 0px;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.mcl04 .header-Special {
  width: 100%;
  height: 32px;
  background: #00438b;
  border-radius: 0px 4px 0px 0px;
  line-height: 32px;
  text-align: center;
}
.mcl04 .title {
  float: left;
  width: 47%;
}
.mcl04 .title-Img {
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
}
.mcl04 .title-Left {
  margin-left: 10px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}
.mcl04 .title-center {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
.mcl04 .maincard-border {
  padding-left: 20px;
  padding-right: 20px;
}
.mcl04 .kennsu-Title {
  position: relative;
  display: flex;
  align-items: center;
  /* height: 18px; */
  margin-top: 20px;
  margin-bottom: 18px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.mcl04 .kennsu-Total {
  display: inline-block;
  min-width: 100px;
  font-family: 'Meiryo UI';
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0.27px;
}
.mcl04 .kennsu-Space {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.mcl04 .kennsu-filter {
  width: 213px;
}
.mcl04 .kennsuHyouji {
  font-family: 'Meiryo UI';
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 20px;
}
.mcl04 .table-width {
  width: 100%;
}
.mcl04 .keiyaku-number-link {
  float: left;
  color: #00438b;
  font-size: 16px;
  cursor: pointer;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mcl04 .keiyaku-number {
  float: left;
  color: #4a4a4a;
  font-size: 16px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mcl04 .keiyaku-img {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  color: #00438b;
  cursor: pointer;
}
.mcl04 .keiyaku-disabled {
  cursor: no-drop;
}
.mcl04 .kennsu-footer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 18px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.mcl04 .kennsu-none {
  height: 200px;
  padding-left: 450px;
  padding-top: 100px;
}
.mcl04 .box-card .el-card__header {
  border-bottom: 1px solid #303133 !important;
}
.mcl04 .el-table::before {
  height: 0px;
}
.mcl04 .el-table .cell {
  padding: 0px;
}
.mcl04 .firstSelect .el-input {
  width: 60px;
  height: 28px;
}
.mcl04 .firstSelect .el-input span.el-input__suffix span i {
  color: #00438b;
}
.mcl04 .el-table .cell,
.mcl04 .el-table th div {
  text-align: left;
}
.mcl04 .el-input--mini .el-input__inner {
  padding-left: 10px;
  border: 1px solid #979797;
}
.mcl04 .el-input.is-focus .el-input__inner {
  border: 1px solid #00438b;
}
.mcl04 .el-input.is-disabled .el-input__inner {
  border: 1px solid #dcdfe6;
}
.mcl04 .kennsu-footer .el-pagination button,
.el-pagination span:not([class*='suffix']) {
  height: unset;
}
.mcl04 .firstSelect .el-input {
  width: 60px;
  height: 28px;
}
.mcl04 .firstSelect .el-input span.el-input__suffix span i {
  color: #00438b;
}
.mcl04 .el-pager {
  display: flex;
  align-items: center;
}
.mcl04 .el-pager li {
  font-family: 'Meiryo UI';
  margin: 0 10px;
  color: #00438b;
}
.mcl04 .cursor {
  margin-left: 20px;
  cursor: pointer;
}
.mcl04 .no-result-data {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
  font-family: 'Meiryo UI';
  font-size: 16px;
  line-height: 20px;
  height: 200px;
}
.mcl04 .el-table__header-wrapper .el-table__header {
  width: 100% !important;
}
.mcl04 .el-table__body-wrapper.is-scrolling-left .el-table__body {
  width: 100% !important;
}
